* {
    list-style-type: none;
}

:root {
    --hover-text: #683b2b;
    --link-text: #75654C;
    --top-bottom-bg: #D49E8D;
    --navbar: #e99b9b;
    --bg: #302939;
    --text: #50595c;
}

body {
    background-color: #f0e4d7;
    font-family: 'Questrial', serif;
}

button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 4px 6px;
}

button:hover {
    background-color: black;
    color: white;
}

h1 {
    font-size: 60px;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}

.nav-item {
    padding-top: 12px;
    margin-left: 5px;
    color: var(--bg);
    flex-direction: row;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: var(--bg);
}

a:hover {
    color: var(--top-bottom-bg);
    font-weight: bold;
}

#home {
    height: 600px;
    background-image: url('images/hero-image.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-header {
    font-size: 60px;
}

.home-text {
    color: #FAF6f2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#about {
    margin-left: 6px;
    text-align: center;
}

#projects {
    text-align: center;
}

.contact {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#contact {
    text-align: center;
}

.contact-item {
    flex-direction: row;
}

.icon {
    font-size: 48px;
}

.icon:hover {
    color: var(--top-bottom-bg);
}